<div class="tr-home-slider home-slider-1 tr-section">
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
        </ol>

        <div class="carousel-inner" role="listbox">

        </div><!-- /.carousel-inner -->
    </div>
</div>