<div class="tr-content">
    <div class="tr-ad">
        <a href="#"><img class="img-fluid" src="~/images/ai/1.jpg" alt="Image"></a>
    </div><!-- /.tr-ad -->

    <div class="tr-section bg-transparent">
        <div class="section-title">
            <h1><span><a href="#">Business</a></span></h1>
        </div>
        <div class="tr-post">
            <div class="entry-header">
                <div class="entry-thumbnail">
                    <a href="details.html"><img class="img-fluid" src="~/images/post/1.jpg" alt="Image"></a>
                </div>
            </div>
            <div class="post-content">
                <div class="author">
                    <a href="#"><img class="img-fluid img-circle" src="~/images/others/author1.png" alt="Image"></a>
                </div>
                <div class="entry-meta">
                    <ul>
                        <li>By <a href="#">Jhon dun</a></li>
                        <li>445 Share /<a href="#"> 1 Hour ago</a></li>
                        <li>
                            <ul>
                                <li>Share</li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.entry-meta -->
                <h2 class="entry-title">
                    <a href="details.html">We Are Seeing The Effects Of The Minimum Wage Rise In San Francisco</a>
                </h2>
            </div><!-- /.post-content -->
        </div><!-- tr-post -->

        <div class="row">
            <div class="col-md-6">
                <div class="tr-post medium-post">
                    <div id="carousel-one" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item carousel-item active">
                                <div class="entry-header">
                                    <div class="entry-thumbnail">
                                        <a href="details.html"><img class="img-fluid" src="~/images/post/2.jpg" alt="Image"></a>
                                    </div>
                                </div>
                            </div><!-- /.item -->
                            <div class="item carousel-item">
                                <div class="entry-header">
                                    <div class="entry-thumbnail">
                                        <a href="details.html"><img class="img-fluid" src="~/images/post/3.jpg" alt="Image"></a>
                                    </div>
                                </div>
                            </div><!-- /.item -->
                            <div class="item carousel-item">
                                <div class="entry-header">
                                    <div class="entry-thumbnail">
                                        <a href="details.html"><img class="img-fluid" src="~/images/post/5.jpg" alt="Image"></a>
                                    </div>
                                </div>
                            </div><!-- /.item -->

                        </div><!-- /.carousel-inner -->
                        <div class="gallery-turner">
                            <a class="left-photo" href="#carousel-one" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                            <a class="right-photo" href="#carousel-one" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div><!-- /#carousel-one -->
                    <div class="post-content">
                        <div class="author">
                            <a href="#"><img class="img-fluid img-circle" src="~/images/others/author2.png" alt="Image"></a>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li>By <a href="#"> Matt Cloey</a></li>
                                <li>243 Share /<a href="#"> 4 Hour ago</a></li>
                            </ul>
                        </div><!-- /.entry-meta -->
                        <h2 class="entry-title">
                            <a href="#">Martha Stewart, Snoop Dogg and Anna Kendrick</a>
                        </h2>
                    </div><!-- /.post-content -->
                </div><!-- tr-post -->
            </div>
            <div class="col-md-6 medium-post">
                <div class="tr-post">
                    <div class="entry-header">
                        <div class="entry-thumbnail">
                            <a href="#"><img class="img-fluid" src="~/images/post/3.jpg" alt="Image"></a>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="author">
                            <a href="#"><img class="img-fluid img-circle" src="~/images/others/author3.png" alt="Image"></a>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li>By <a href="#">Adam Hianks</a></li>
                                <li>300 Share /<a href="#"> 2 Hour ago</a></li>
                            </ul>
                        </div><!-- /.entry-meta -->
                        <h2 class="entry-title">
                            <a href="#">Chelsea Handler slams Angelina yet again</a>
                        </h2>
                    </div><!-- /.post-content -->
                </div><!-- tr-post -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.business-section -->

    <div class="tr-ad">
        <a href="#"><img class="img-fluid" src="~/images/ai/1.jpg" alt="Image"></a>
    </div><!-- /.add -->

    <div class="tr-section bg-transparent sports-section">
        <div class="section-title">
            <h1><span><a href="#">Sports</a></span></h1>
        </div>
        <div class="latest-result text-center">
            <div class="latest-result-content">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" src="~/images/post/sports/logo1.png" alt="Image">
                        <h2 class="score">278/10</h2>
                        <span class="over">Over: 19.5</span>
                        <ul>
                            <li>Mehedi Hasan 103*</li>
                            <li>Shakib Al Hasan 73</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="match-category">
                            <div class="category-logo">
                                <a href="#"><img class="img-fluid" src="~/images/post/sports/logo2.png" alt="Image"></a>
                            </div>
                            <p>2nd One Day Match <span>BNS Ground</span></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img class="img-fluid" src="~/images/post/sports/logo3.png" alt="Image">
                        <h2 class="score">32/0</h2>
                        <span class="over">Over: 6.2</span>
                        <ul>
                            <li>Moeen Ali 12*</li>
                            <li>Joe Root 20*</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- /.tr-post -->

        <div class="football-result">
            <div class="row">
                <div class="col-md-6">
                    <div class="tr-post medium-post">
                        <div class="featured-result">
                            <h2 class="league-name">Premier League</h2>
                            <div class="row">
                                <div class="col-4">
                                    <img class="img-fluid" src="~/images/post/sports/logo4.png" alt="">
                                    <span class="match-result">3</span>
                                </div>
                                <div class="col-4">
                                    <span class="verses">VS</span>
                                    <span class="match-time">90:00</span>
                                </div>
                                <div class="col-4">
                                    <img class="img-fluid" src="~/images/post/sports/logo5.png" alt="">
                                    <span class="match-result">0</span>
                                </div>
                            </div>
                        </div><!-- /.featured-result -->
                        <div class="post-content">
                            <div class="entry-meta">
                                <ul>
                                    <li>163 Share /<a href="#"> 7 Hour ago</a></li>
                                    <li>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div><!-- /.entry-meta -->
                            <h2 class="entry-title">
                                <a href="#">Our closest relatives aren't fans of daylight saving time</a>
                            </h2>
                        </div><!-- /.post-content -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tr-section">
                        <div class="league-result text-center">
                            <h2>Todays Match</h2>
                            <ul>
                                <li>
                                    <ul>
                                        <li>
                                            <div class="pull-left">
                                                <img class="img-fluid" src="~/images/post/sports/team2.png" alt="">
                                                <span class="team-name">Bra</span>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="match-result">3-2</span>
                                        </li>
                                        <li>
                                            <div class="pull-right">
                                                <span class="team-name">Arg</span>
                                                <img class="img-fluid" src="~/images/post/sports/team1.png" alt="">
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li>
                                            <div class="pull-left">
                                                <img class="img-fluid" src="~/images/post/sports/team1.png" alt="">
                                                <span class="team-name">Arg</span>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="match-result">7-4</span>
                                        </li>
                                        <li>
                                            <div class="pull-right">
                                                <span class="team-name">Bra</span>
                                                <img class="img-fluid" src="~/images/post/sports/team2.png" alt="">
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li>
                                            <div class="pull-left">
                                                <img class="img-fluid" src="~/images/post/sports/team2.png" alt="">
                                                <span class="team-name">Bra</span>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="match-result">1-2</span>
                                        </li>
                                        <li>
                                            <div class="pull-right">
                                                <span class="team-name">Arg</span>
                                                <img class="img-fluid" src="~/images/post/sports/team1.png" alt="">
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li>
                                            <div class="pull-left">
                                                <img class="img-fluid" src="~/images/post/sports/team1.png" alt="">
                                                <span class="team-name">Ara</span>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="match-result">3-1</span>
                                        </li>
                                        <li>
                                            <div class="pull-right">
                                                <span class="team-name">Brg</span>
                                                <img class="img-fluid" src="~/images/post/sports/team2.png" alt="">
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li>
                                            <div class="pull-left">
                                                <img class="img-fluid" src="~/images/post/sports/team2.png" alt="">
                                                <span class="team-name">Bra</span>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="match-result">6-2</span>
                                        </li>
                                        <li>
                                            <div class="pull-right">
                                                <span class="team-name">Arg</span>
                                                <img class="img-fluid" src="~/images/post/sports/team1.png" alt="">
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.league-result -->
                    </div><!-- /.tr-section -->
                </div>
            </div><!-- row -->
        </div><!-- /.football-result -->
    </div><!-- /.sports-section -->

    <div class="tr-section bg-transparent">
        <div class="section-title">
            <h1><span><a href="#">Life Style</a></span></h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="tr-post medium-post">
                    <div class="entry-header">
                        <div class="entry-thumbnail">
                            <a href="#"><img class="img-fluid" src="~/images/post/4.jpg" alt="Image"></a>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="author">
                            <a href="#"><img class="img-fluid img-circle" src="~/images/others/author2.png" alt="Image"></a>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li>By <a href="#">Adam Hianks</a></li>
                                <li>43 Share /<a href="#"> 2 Hour ago</a></li>
                            </ul>
                        </div><!-- /.entry-meta -->
                        <h2 class="entry-title">
                            <a href="#">Martha Stewart, Snoop Dogg and Anna</a>
                        </h2>
                    </div><!-- /.post-content -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="tr-post medium-post">
                    <div class="entry-header">
                        <div class="entry-thumbnail">
                            <a href="#"><img class="img-fluid" src="~/images/post/5.jpg" alt="Image"></a>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="author">
                            <a href="#"><img class="img-fluid img-circle" src="~/images/others/author3.png" alt="Image"></a>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li>By <a href="#">Adam Hianks</a></li>
                                <li>200 Share /<a href="#"> 5 Hour ago</a></li>
                            </ul>
                        </div><!-- /.entry-meta -->
                        <h2 class="entry-title">
                            <a href="#">Celeb Role Models You Can Feel Good About</a>
                        </h2>
                    </div><!-- /.post-content -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="tr-post medium-post">
                    <div class="entry-header">
                        <div class="entry-thumbnail">
                            <a href="#"><img class="img-fluid" src="~/images/post/6.jpg" alt="Image"></a>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="author">
                            <a href="#"><img class="img-fluid img-circle" src="~/images/others/author1.png" alt="Image"></a>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li>By <a href="#">Matt Cloey</a></li>
                                <li>45 Share /<a href="#"> 6 Hour ago</a></li>
                            </ul>
                        </div><!-- /.entry-meta -->
                        <h2 class="entry-title">
                            <a href="#">Suspicion of plotting New Year's Eve attacks in Belgium</a>
                        </h2>
                    </div><!-- /.post-content -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="tr-post medium-post">
                    <div class="entry-header">
                        <div class="entry-thumbnail">
                            <a href="#"><img class="img-fluid" src="~/images/post/7.jpg" alt="Image"></a>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="author">
                            <a href="#"><img class="img-fluid img-circle" src="~/images/others/author2.png" alt="Image"></a>
                        </div>
                        <div class="entry-meta">
                            <ul>
                                <li>By <a href="#">Jhon dun</a></li>
                                <li>64 Share /<a href="#"> 9 Hour ago</a></li>
                            </ul>
                        </div><!-- /.entry-meta -->
                        <h2 class="entry-title">
                            <a href="#">18 Great Performances in Mediocre Movies</a>
                        </h2>
                    </div><!-- /.post-content -->
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.life-style-section -->

    <div class="tr-section bg-transparent">
        <div class="section-title">
            <h1><span><a href="#">Photo Gallery</a></span></h1>
        </div>
        <div id="photo-gallery" class="carousel slide carousel-fade photo-gallery" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item carousel-item">
                    <a href="#"><img class="img-fluid" src="~/images/gallery/1.jpg" alt="Image"></a>
                    <h2><a href="#">We Are Seeing The Effects Of The Minimum Wage Rise In San Francisco</a></h2>
                </div>
                <div class="item carousel-item">
                    <a href="#"><img class="img-fluid" src="~/images/gallery/1.jpg" alt="Image"></a>
                    <h2><a href="#">500-pound elephant seal causes traffic jam while repeatedly</a></h2>
                </div>
                <div class="item carousel-item">
                    <a href="#"><img class="img-fluid" src="~/images/gallery/1.jpg" alt="Image"></a>
                    <h2><a href="#">I rode a Metroboard electric skateboard 30 miles around Manhattan</a></h2>
                </div>
                <div class="item carousel-item">
                    <a href="#"><img class="img-fluid" src="~/images/gallery/1.jpg" alt="Image"></a>
                    <h2><a href="#">The super creepy side of the Internet of Things and smart homes</a></h2>
                </div>
                <div class="item carousel-item active">
                    <a href="#"><img class="img-fluid" src="~/images/gallery/1.jpg" alt="Image"></a>
                    <h2><a href="#">Mirum est notare quam littera gothica, quam nunc putamus parum claram</a></h2>
                </div>
                <div class="item carousel-item">
                    <a href="#"><img class="img-fluid" src="~/images/gallery/1.jpg" alt="Image"></a>
                    <h2><a href="#">Someone has calculated the total cost of saving Matt Damon</a></h2>
                </div>
                <div class="item carousel-item">
                    <a href="#"><img class="img-fluid" src="~/images/gallery/1.jpg" alt="Image"></a>
                    <h2><a href="#">Wet wedding: Yorkshire couple dons wellies to tie the knot in flooded town</a></h2>
                </div>
                <div class="item carousel-item">
                    <a href="#"><img class="img-fluid" src="~/images/gallery/1.jpg" alt="Image"></a>
                    <h2><a href="#">This dog is so stoked for his Christmas present he can hardly stand it</a></h2>
                </div>
                <div class="item carousel-item">
                    <a href="#"><img class="img-fluid" src="~/images/gallery/1.jpg" alt="Image"></a>
                    <h2><a href="#">The world's richest people lost $19 billion in 2015, but Jeff Bezos</a></h2>
                </div>
                <div class="item carousel-item">
                    <a href="#"><img class="img-fluid" src="~/images/gallery/1.jpg" alt="Image"></a>
                    <h2><a href="#">The world's richest people lost $19 billion in 2015, but Jeff Bezos</a></h2>
                </div>
                <div class="item carousel-item">
                    <a href="#"><img class="img-fluid" src="~/images/gallery/1.jpg" alt="Image"></a>
                    <h2><a href="#">The world's richest people lost $19 billion in 2015, but Jeff Bezos</a></h2>
                </div>
                <div class="item carousel-item">
                    <a href="#"><img class="img-fluid" src="~/images/gallery/1.jpg" alt="Image"></a>
                    <h2><a href="#">The world's richest people lost $19 billion in 2015, but Jeff Bezos</a></h2>
                </div>
                <div class="item carousel-item">
                    <a href="#"><img class="img-fluid" src="~/images/gallery/1.jpg" alt="Image"></a>
                    <h2><a href="#">The world's richest people lost $19 billion in 2015, but Jeff Bezos</a></h2>
                </div>
            </div><!--/carousel-inner-->

            <ol class="gallery-indicators carousel-indicators">
                <li data-target="#photo-gallery" data-slide-to="0" class="">
                    <img class="img-fluid" src="~/images/gallery/thumb1.png" alt="Image">
                </li>
                <li data-target="#photo-gallery" data-slide-to="1" class="">
                    <img class="img-fluid" src="~/images/gallery/thumb2.png" alt="Image">
                </li>
                <li data-target="#photo-gallery" data-slide-to="2" class="">
                    <img class="img-fluid" src="~/images/gallery/thumb3.png" alt="Image">
                </li>
                <li data-target="#photo-gallery" data-slide-to="3" class="">
                    <img class="img-fluid" src="~/images/gallery/thumb4.png" alt="Image">
                </li>
                <li data-target="#photo-gallery" data-slide-to="4" class="active">
                    <img class="img-fluid" src="~/images/gallery/thumb5.png" alt="Image">
                </li>
                <li data-target="#photo-gallery" data-slide-to="5">
                    <img class="img-fluid" src="~/images/gallery/thumb6.png" alt="Image">
                </li>
                <li data-target="#photo-gallery" data-slide-to="6">
                    <img class="img-fluid" src="~/images/gallery/thumb7.png" alt="Image">
                </li>
                <li data-target="#photo-gallery" data-slide-to="7">
                    <img class="img-fluid" src="~/images/gallery/thumb8.png" alt="Image">
                </li>
                <li data-target="#photo-gallery" data-slide-to="8">
                    <img class="img-fluid" src="~/images/gallery/thumb6.png" alt="Image">
                </li>
                <li data-target="#photo-gallery" data-slide-to="9">
                    <img class="img-fluid" src="~/images/gallery/thumb1.png" alt="Image">
                </li>
                <li data-target="#photo-gallery" data-slide-to="10">
                    <img class="img-fluid" src="~/images/gallery/thumb2.png" alt="Image">
                </li>
                <li data-target="#photo-gallery" data-slide-to="11">
                    <img class="img-fluid" src="~/images/gallery/thumb3.png" alt="Image">
                </li>
                <li data-target="#photo-gallery" data-slide-to="8">
                    <img class="img-fluid" src="~/images/gallery/thumb4.png" alt="Image">
                </li>
                <li data-target="#photo-gallery" data-slide-to="8">
                    <img class="img-fluid" src="~/images/gallery/thumb5.png" alt="Image">
                </li>
            </ol><!--/gallery-indicators-->

            <div class="gallery-turner">
                <a class="left-photo" href="#photo-gallery" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a class="right-photo" href="#photo-gallery" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
            </div>
        </div><!-- /.photo-gallery	 -->
    </div><!-- /.photo-gallery-section -->
</div><!-- /.tr-content -->