<div class="theiaStickySidebar">


    <div class="tr-section tr-widget">
        <div class="widget-title">
            <span>This Is rising</span>
        </div>
        <ul class="medium-post-list">
            <li class="tr-post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                        <a href="details.html"><img class="img-fluid" src="~/images/post/9.jpg" alt="Image"></a>
                    </div>
                </div>
                <div class="post-content">
                    <div class="catagory">
                        <a href="#">Entertainment</a>
                    </div>
                    <h2 class="entry-title">
                        <a href="details.html">Howard Stern: 'I told Trump' I'm voting for Clinton</a>
                    </h2>
                </div><!-- /.post-content -->
            </li>
            <li class="tr-post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                        <a href="details.html"><img class="img-fluid" src="~/images/post/10.jpg" alt="Image"></a>
                    </div>
                </div>
                <div class="post-content">
                    <div class="catagory">
                        <a href="#">Business</a>
                    </div>
                    <h2 class="entry-title">
                        <a href="details.html">Our closest relatives aren't fans of daylight saving time</a>
                    </h2>
                </div><!-- /.post-content -->
            </li>
            <li class="tr-post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                        <a href="details.html"><img class="img-fluid" src="~/images/post/11.jpg" alt="Image"></a>
                    </div>
                </div>
                <div class="post-content">
                    <div class="catagory">
                        <a href="#">Technology</a>
                    </div>
                    <h2 class="entry-title">
                        <a href="details.html">And the most streamed Beatles song on Spotify is...</a>
                    </h2>
                </div><!-- /.post-content -->
            </li>
            <li class="tr-post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                        <a href="details.html"><img class="img-fluid" src="~/images/post/12.jpg" alt="Image"></a>
                    </div>
                </div>
                <div class="post-content">
                    <div class="catagory">
                        <a href="#">Sports</a>
                    </div>
                    <h2 class="entry-title">
                        <a href="details.html">Our closest relatives aren't fans of daylight saving time</a>
                    </h2>
                </div><!-- /.post-content -->
            </li>
        </ul>
    </div><!-- /.tr-section -->

    <div class="tr-weather tr-widget">
        <div class="weather-top">
            <div class="row">
                <div class="col-6">
                    <div class="weather-image">
                        <img class="img-fluid" src="~/images/others/weather1.png" alt="Image">
                    </div>
                </div>
                <div class="col-6">
                    <span class="weather-temp">21 <sup><span>°</span>C</sup></span>
                    <span class="weather-type">Mostly Cloudy</span>
                </div>
            </div>
            <ul>
                <li>London, UK</li>
                <li><span><img class="img-fluid" src="~/images/others/weather2.png" alt="Image"></span>13%</li>
                <li><span><img class="img-fluid" src="~/images/others/weather3.png" alt="Image"></span>6.44 MPH</li>
            </ul>
        </div><!-- /.weather-top -->

        <div class="weather-bottom">
            <ul>
                <li>
                    <div class="weather-icon">
                        <img class="img-fluid" src="~/images/others/weather4.png" alt="Image">
                    </div>
                    <div class="weather-info">
                        <span>23°</span>
                        <span class="date">Sun, 3 July</span>
                    </div>
                </li>
                <li>
                    <div class="weather-icon">
                        <img class="img-fluid" src="~/images/others/weather5.png" alt="Image">
                    </div>
                    <div class="weather-info">
                        <span>26°</span>
                        <span class="date">Sun, 3 July</span>
                    </div>
                </li>
            </ul>
        </div><!-- /.weather-bottom -->
    </div><!-- /.weather-widget -->

    <div class="tr-section tr-widget tr-ad ad-before">
        <a href="#"><img class="img-fluid" src="~/images/ai/2.jpg" alt="Image"></a>
    </div><!-- /.tr-post -->

    <div class="tr-widget meta-widget">
        <div class="widget-title">
            <span>Weekly Toplist</span>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a class="active" href="#author" data-toggle="tab"><i class="fa fa-user"></i>Authors</a></li>
            <li role="presentation"><a href="#comment" data-toggle="tab"><i class="fa fa-comment-o"></i>Comments</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active show fade in" id="author">
                <ul class="authors-post">
                    <li>
                        <div class="entry-meta">
                            <div class="author-image">
                                <a href="#"><img class="img-fluid" src="~/images/others/author4.png" alt="Image"></a>
                            </div>
                            <div class="author-info">
                                <h2><a href="#">Janet Jackson</a></h2>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="entry-meta">
                            <div class="author-image">
                                <a href="#"><img class="img-fluid" src="~/images/others/author5.png" alt="Image"></a>
                            </div>
                            <div class="author-info">
                                <h2><a href="#">Matt Cloey</a></h2>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="entry-meta">
                            <div class="author-image">
                                <a href="#"><img class="img-fluid" src="~/images/others/author6.png" alt="Image"></a>
                            </div>
                            <div class="author-info">
                                <h2><a href="#">Kolony Wispe</a></h2>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="entry-meta">
                            <div class="author-image">
                                <a href="#"><img class="img-fluid" src="~/images/others/author7.png" alt="Image"></a>
                            </div>
                            <div class="author-info">
                                <h2><a href="#">Matt Cloey</a></h2>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="entry-meta">
                            <div class="author-image">
                                <a href="#"><img class="img-fluid" src="~/images/others/author8.png" alt="Image"></a>
                            </div>
                            <div class="author-info">
                                <h2><a href="#">Jhon dun</a></h2>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="comment">
                <ul class="comment-list">
                    <li>
                        <div class="post-content">
                            <div class="entry-meta">
                                <span><a href="#">Jhon dun,</a></span>
                            </div>
                            <h2 class="entry-title">
                                <a href="#">3 students arrested after body-slamming principal</a>
                            </h2>
                        </div>
                    </li>
                    <li>
                        <div class="post-content">
                            <div class="entry-meta">
                                <span><a href="#">Matt Cloey</a></span>
                            </div>
                            <h2 class="entry-title">
                                <a href="#">5 students arrested after body-slamming principal</a>
                            </h2>
                        </div>
                    </li>
                    <li>
                        <div class="post-content">
                            <div class="entry-meta">
                                <span><a href="#">Kolony Wispe</a></span>
                            </div>
                            <h2 class="entry-title">
                                <a href="#">2 students arrested after body-slamming principal</a>
                            </h2>
                        </div>
                    </li>
                    <li>
                        <div class="post-content">
                            <div class="entry-meta">
                                <span><a href="#">Janet Jackson</a></span>
                            </div>
                            <h2 class="entry-title">
                                <a href="#">4 students arrested after body-slamming principal</a>
                            </h2>
                        </div>
                    </li>
                    <li>
                        <div class="post-content">
                            <div class="entry-meta">
                                <span><a href="#">Matt Cloey</a></span>
                            </div>
                            <h2 class="entry-title">
                                <a href="#">3 students arrested after body-slamming principal</a>
                            </h2>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- meta-tab -->
</div><!-- /.theiaStickySidebar -->